@import '../../../var';

.side-panel-container {

  width: 50px;
  background-color: #7b84fc;
  border-radius: 15px;
  float: left;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;


  .side-panel {
    padding: 10px;
    display: flex;
    height: -webkit-fill-available;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .main-logo-container {
      .main-logo {
        height: 0px;
      }

      flex: 9;
    }

    .nav-options {
      flex: 18;
      justify-content: space-around;
      display: flex;
      flex-direction: column;

      .nav-option {
        color: white;
        padding: 3px;
        text-decoration: none;

        span {
          padding: 0 5px;
        }
      }

      .nav-option:hover,
      .active {
        background-color: #8a9bfc;
        border-radius: 5px;
      }
    }

    .expand-arrow {
      flex: 16;
      transition: all 1s;
      display: flex;
      flex-direction: column-reverse;

      span {

        i {
          color: white;
        }
      }
    }

  }
}

.expanded {
  width: 150px;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
