<div class="side-panel-container" [@animationOption1]="clickedDivState">
  <div class="side-panel">
    <div class="main-logo-container">
      <img src="../../../assets/images/Logo.jpg" alt="logo" class="main-logo" />
    </div>
    <div class="nav-options" *ngIf="!isExpanded">
      <a *ngFor="let item of navOptions" class="nav-option" [ngClass]="{'active': item.title == selectedOption.title}" (click)="navBarSelected(item)"><span><i class={{item.icon}}></i></span></a>
    </div>
    <div class="nav-options" *ngIf="isExpanded">
      <a *ngFor="let item of navOptions" class="nav-option" [ngClass]="{'active': item.title == selectedOption.title}" (click)="navBarSelected(item)"><span class="px-2"><i
            class={{item.icon}}></i></span>{{item.title}}</a>
    </div>
    <a (click)="expandSidePanel()" class="expand-arrow"><span><i *ngIf="!isExpanded"
          class="fa fa-long-arrow-right"></i><i *ngIf="isExpanded" class="fa fa-long-arrow-left"></i></span></a>
  </div>
</div>
