// ------------------ COLORS --------------------
$alert: red;
$alert-focus: rgb(235, 8, 8);
$color-primary1: #162933;
$color-primary2: #f9fafe;
$color-primary3: #58a6fb;
$color-primary4: #000;
$color-primary5: #fff;
$side-panel-color: #7b84fc;
$text-dark: #243e86;
$text-light: #9cb6e6;
$login-bottom-gradient: #88ddd2;
$login-top-gradient: #048372;


// ------------------ SIZE -----------------------
